body {
    background-image: url('../assets/bg/sky.jpg');
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
}

.rune { 
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ccc;
    background-color: #ccc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.rune:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.rune img {
    width: 100px;
    height: 100px;
}

.selected-rune {
    -webkit-animation: glow 6s infinite;
    border: 1px solid white;
}

#acceptedRunes {
    height: 100px;
    width: 800px;
    background-color: #ccc;
    opacity: 0.5;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    vertical-align: middle;
    align-items: center;
    font-size: 50px;

    padding: 0 30px 0 30px;
}

.acceptedRune {
    height: 80%;
    margin: -10px;
    -webkit-animation: fadeIn ease 5s;
}


@-webkit-keyframes glow {
    0% { background-color: #ddd; }
    40% { background-color: white; }
    60% { background-color: white; }
    100% { background-color: #ddd; }
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
